body {
    background: #FAEABE;
    font-family: 'Open Sans', sans-serif;
}

a.button-link, input[type="submit"] {
    display: inline-block;
    padding: 10px;
    color: black;
    background: #ddd0a6;
    border: 5px solid #666;
    border-radius: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: left;
    margin: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 170px;
    font-family: 'Open Sans', sans-serif;
}

a, a:visited {
    color: black;
}

form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.images {
    position: fixed;
    left: 0;
    right: 180px;
    top: 0;
    bottom: 0;
}

.controls {
    position: fixed;
    right: 0;
    width: 180px;
    top: 0;
    bottom: 0;
}

.stats {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.1);
    padding: 10px;
    font-size: 18px;
}

.recent-shots {
    position: fixed;
    top: 0;
    right: 180px;
    background-color: rgba(10, 10, 10, 0.1);
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .images {
        position: static;
    }
    .controls {
        position: static;
        width: 100%;
        padding: 0;
    }
    .stats {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(10, 10, 10, 0.1);
        padding: 10px;
        font-size: 18px;
    }

    .recent-shots {
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(10, 10, 10, 0.1);
        padding: 10px;
    }

    a.button-link, input[type="submit"] {
        display: inline-block;
        padding: 5px;
        margin: 10px 7px;
        width: 160px;
    }
}


.recent-shots table {
    font-size: 18px;
}

.shot-score {
    font-weight: bold;
}

.shot-x {
    font-weight: bold;
    color: red;
}

.setup {
    text-align: center;
}

.setup form {
    display: block;
    margin: 50px 0;
}

img.big {
    max-width: 100%;
    max-height: 100.01%; /* extra to avoid being under ios navbar */
}

img.current-target {
    display: none;
}
img.target-shots {
    display: block;
}

.live img.current-target {
    display: block;
}
.live img.target-shots {
    display: none;
}

table.list-table {
    border-collapse: collapse;
}

table.list-table td {
    padding: 5px 10px;
    border: 1px solid #666;
}

table.list-table th {
    padding: 5px 10px;
    border: 2px solid #666;
    background: #ede0b6;
}

table.list-table tr:nth-child(even) {
    background: #ddd0a6;
}

table.sub-table {
    margin: 0;
    padding: 0;
}

table.sub-table td {
    border: none;
    padding: 0 10px;
}

table.stats-table td, table.stats-table th {
    text-align: left;
    padding: 2px 10px;
}

.match-shooter {
    border: 1px solid #666;
}

.winner {
    background: #fdf0c6;
    border: 1px solid #ddd0a6;
}

.menu {
    text-align: center;
    margin: 30px 15% 0 15%;
}
