<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  </head>

  <body>
    {% if previ %}
    <a class="button-link" href="/debug/{{previ}}">Previous</a>
    {% endif %}
    <a class="button-link" href="/">Back to Match</a>
    {% if nexti %}
    <a class="button-link" href="/debug/{{nexti}}">Next</a>
    {% endif %}
    <br/>
    <img src="/debug_diff?cb={{cachebust}}" width="400" />
    <img src="/debug_keypoints?cb={{cachebust}}" width="400" />
    <br/>
    <img src="/debug_prev?cb={{cachebust}}" width="400" />
    <img src="/debug_new?cb={{cachebust}}" width="400" />
    <br/>

  </body>
</html>
