<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  </head>

  <body style="margin:0;padding:0">

    <div style="position:relative;margin:0;padding:0;">
      <div id="m" style="margin:0;padding:0;background: red; width: 5px; height: 5px; position: absolute; left: 0; right: 0;">
      </div>
      <img id="pic" src="/current_target?cb={{cachebust}}" class="big" />
    </div>
    <form method="POST" action="/manual_entry_shot">
      <input id="coords" name="coords" type="hidden" value="0,0" />
      <input type="submit" value="Submit" />
    </form>

    <script type="text/javascript">
      window.onload = function() {
          marker = document.getElementById('m');
          img = document.getElementById('pic');
          coords = document.getElementById('coords');
          img.onclick = function(evt) {
              var x = evt.pageX;
              var y = evt.pageY;
              marker.style.left = (x-2) + 'px';
              marker.style.top = (y-2) + 'px';

              ratioX = x / img.scrollWidth;
              ratioY = y / img.scrollHeight;

              coords.value = ratioX + ',' + ratioY;
          }
      }
    </script>
  </body>
</html>
