<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Match History</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  </head>

  <body>
    <form method="GET" action="/reporting/matches">
      <label for="shooter_id">Shooter</label>
      <select id="shooter_id" name="shooter_id">
        {% for id, name in shooters %}
        <option value="{{id}}" {{"selected" if shooter_id == id else ""}}>{{name}}</option>
        {% endfor %}
      </select>

      <label for="shot_count">Match Shots</label>
      <select id="shot_count" name="shot_count">
        {% for sc in shot_counts %}
        <option value="{{sc}}" {{"selected" if shot_count == sc else ""}}>{{sc}} shots</option>
        {% endfor %}
      </select>

      <label for="mode">Mode</label>
      <select id="mode" name="mode">
        <option value="matches" {{"selected" if mode == "matches" else ""}}>Matches only</option>
        <option value="practice" {{"selected" if mode == "practice" else ""}}>Practice only</option>
        <option value="both" {{"selected" if mode == "both" else ""}}>Both</option>
      </select>

      <label for="timeframe">Timeframe</label>
      <select id="timeframe" name="timeframe">
        <option value="1" {{"selected" if timeframe == 1 else ""}}>Past hour</option>
        <option value="24" {{"selected" if timeframe == 24 else ""}}>Past 24 hours</option>
        <option value="168" {{"selected" if timeframe == 168 else ""}}>Past 7 days</option>
        <option value="720" {{"selected" if timeframe == 720 else ""}}>Past 30 days</option>
      </select>
      <br/>
      <a class="button-link" href="/menu">Menu</a><input type="submit" value="Load Matches" />
    </form>

    {% if r == None %}
    <div>
      <h1>No results</h1>
    </div>
    {% else %}
    <div>
      <h1>Matches</h1>

      <table class="list-table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Match Name</th>
            <th>Shots</th>
            <th>Shooters</th>
          </tr>
        </thead>
        <tbody>
          {% for match in r %}
          <tr>
            <td><a class="isotime" href="/reporting/match/{{match.match_id}}">{{match.end_time}}</a></td>
            <td><a href="/reporting/match/{{match.match_id}}">{{match.match_name}}</a></td>
            <td>{{match.number_shots}}</td>
            <td>
              <table class="sub-table">
                <tbody>
                  {% for shooter in match.shooters %}
                  <tr>
                    <td>{{shooter.name}}</td>
                    <td>{{shooter.score}}-{{shooter.xcount}}X</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <script type="text/javascript" src="/static/moment.min.js"></script>
    <script type="text/javascript" src="/static/isotime.js"></script>
  </body>
</html>
