<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Match Details</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  </head>

  <body>
    <a class="button-link" href="javascript:history.back()">Back</a>
    <div>
      {% if m.match_name == None %}
      <h1>Match at <span class="isotime">{{m.end_time}}</span><h1>
      {% else %}
      <h1>Match: {{m.match_name}}</h1>
      {% endif %}

      <h2>Shooters</h2>
      {% for r in m.shooters %}
      <div style="display:inline-block; padding-right: 10px" class="{{'match-shooter winner' if r == m.winner else 'match-shooter'}}">
      <table class="stats-table">
        <tbody>
          <tr>
            <th colspan="2" style="text-align: center">{{r.shooter_name}}</th>
          </tr>
          <tr>
            <th>Match Score</th>
            <td>
            {{'{:.0f}'.format(r.best_match[0])}}-{{'{:.0f}'.format(r.best_match[1])}}X
            </td>
          </tr>
          <tr>
            <th>Average Shot Score</th>
            <td>{{'{:.2f}'.format(r.avg_score)}}</td>
          </tr>
          <tr>
            <th>Best Streak of 10s</th>
            <td>{{r.ten_streak}}</td>
          </tr>
          <tr>
            <th>Best Streak of 9+s</th>
            <td>{{r.nine_streak}}</td>
          </tr>

          <tr>
            <th>Recommended Zero Shift</th>
            <td>
              {% if r.zero_offset == (0,0) %}
              No change
              {%else%}
                  {% if r.zero_offset[0] < 0 %}
                      Left {{'{:.2f}'.format(-r.zero_offset[0])}}&quot;,
                  {% else %}
                      Right {{'{:.2f}'.format(r.zero_offset[0])}}&quot;,
                  {% endif %}
                  {% if r.zero_offset[1] < 0 %}
                      down {{'{:.2f}'.format(-r.zero_offset[1])}}&quot;
                  {% else %}
                      up {{'{:.2f}'.format(r.zero_offset[1])}}&quot;
                  {% endif %}
              {%endif%}
            </td>
          </tr>
          {% if r.zero_offset != (0,0) %}
          <tr>
            <th>Shifted Shot Average</th>
            <td>{{'{:.2f}'.format(r.offset_avg_score)}}</td>
          </tr>
          <tr>
            <th>Shifted Match Score</th>
            <td>{{'{:.0f}'.format(r.offset_avg_match_score[0])}}-{{'{:.0f}'.format(r.offset_avg_match_score[1])}}X</td>
          </tr>
          {% endif %}
          <tr>
        </tbody>
      </table>
      </div>
      {% endfor %}

      <h2>Shots</h2>
      <table class="list-table">
        <thead>
          <tr>
            <th></th>
            {% for shooter in m.shooters %}
            <th>{{shooter.shooter_name}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for i in range(0, m.number_shots) %}
          <tr>
            <th>{{i+1}}</th>
            {% for shooter in m.shooters %}
            <td style="text-align: center">
            {{'X' if shooter.shots[i].xring else shooter.shots[i].score}}
            </td>
            {% endfor %}
          </tr>
          {% if i > 0 and (i+1) % 5 == 0 or (i+1) == m.number_shots %}
          <tr>
            <th>{{"Final Scores" if i == m.number_shots - 1 else "Running Totals"}}</th>
            {% for shooter in m.shooters %}
            <th>
                {{shooter.score_as_of(i+1)}}
            </th>
            {% endfor %}
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="/static/moment.min.js"></script>
    <script type="text/javascript" src="/static/isotime.js"></script>
  </body>
</html>
