<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shooter Stats</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  </head>

  <body>
    <form method="GET" action="/reporting/shooters">
      <label for="shooter_id">Shooter</label>
      <select id="shooter_id" name="shooter_id">
        {% for id, name in shooters %}
        <option value="{{id}}" {{"selected" if shooter_id == id else ""}}>{{name}}</option>
        {% endfor %}
      </select>

      <label for="shot_count">Match Shots</label>
      <select id="shot_count" name="shot_count">
        {% for sc in shot_counts %}
        <option value="{{sc}}" {{"selected" if shot_count == sc else ""}}>{{sc}} shots</option>
        {% endfor %}
      </select>

      <label for="mode">Mode</label>
      <select id="mode" name="mode">
        <option value="matches" {{"selected" if mode == "matches" else ""}}>Matches only</option>
        <option value="practice" {{"selected" if mode == "practice" else ""}}>Practice only</option>
        <option value="both" {{"selected" if mode == "both" else ""}}>Both</option>
      </select>

      <label for="timeframe">Timeframe</label>
      <select id="timeframe" name="timeframe">
        <option value="1" {{"selected" if timeframe == 1 else ""}}>Past hour</option>
        <option value="24" {{"selected" if timeframe == 24 else ""}}>Past 24 hours</option>
        <option value="168" {{"selected" if timeframe == 168 else ""}}>Past 7 days</option>
        <option value="720" {{"selected" if timeframe == 720 else ""}}>Past 30 days</option>
      </select>
      <br/>
      <a class="button-link" href="/menu">Menu</a><input type="submit" value="Load Statistics" />
    </form>

    {% if r == None %}
    <div>
      <h1>No results</h1>
    </div>
    {% else %}
    <div>
      <h1>{{r.shooter_name}}</h1>

      <h2>Stats</h2>

      <table class="stats-table">
        <tbody>
          <tr>
            <th>Average Match Score</th>
            <td>{{'{:.0f}'.format(r.avg_match[0])}}-{{'{:.0f}'.format(r.avg_match[1])}}X</td>
          </tr>
          <tr>
            <th>Best Match Score</th>
            <td>{{'{:.0f}'.format(r.best_match[0])}}-{{'{:.0f}'.format(r.best_match[1])}}X</td>
          </tr>
          <tr>
            <th>Average Shot Score</th>
            <td>{{'{:.2f}'.format(r.avg_score)}}</td>
          </tr>
          <tr>
            <th>Best Streak of 10s</th>
            <td>{{r.ten_streak}}</td>
          </tr>
          <tr>
            <th>Best Streak of 9+s</th>
            <td>{{r.nine_streak}}</td>
          </tr>

          <tr>
            <th>Recommended Zero Shift</th>
            <td>
              {% if r.zero_offset == (0,0) %}
              No change
              {%else%}
                  Move point-of-impact
                  {% if r.zero_offset[0] < 0 %}
                      left {{'{:.2f}'.format(-r.zero_offset[0])}}&quot; ({{'{:.0f}'.format(-r.zero_offset[0]*25.4)}}mm)
                  {% else %}
                      right {{'{:.2f}'.format(r.zero_offset[0])}}&quot; ({{'{:.0f}'.format(r.zero_offset[0]*25.4)}}mm)
                  {% endif %}
                  ,
                  {% if r.zero_offset[1] < 0 %}
                      down {{'{:.2f}'.format(-r.zero_offset[1])}}&quot; ({{'{:.0f}'.format(-r.zero_offset[1]*25.4)}}mm)
                  {% else %}
                      up {{'{:.2f}'.format(r.zero_offset[1])}}&quot; ({{'{:.0f}'.format(r.zero_offset[1]*25.4)}}mm)
                  {% endif %}
              {%endif%}
            </td>
          </tr>
          {% if r.zero_offset != (0,0) %}
          <tr>
            <th>Shifted Shot Average</th>
            <td>{{'{:.2f}'.format(r.offset_avg_score)}}</td>
          </tr>
          <tr>
            <th>Shifted Match Average</th>
            <td>{{'{:.0f}'.format(r.offset_avg_match_score[0])}}-{{'{:.0f}'.format(r.offset_avg_match_score[1])}}X</td>
          </tr>
          {% endif %}
          <tr>
        </tbody>
      </table>

      <h2>Matches</h2>

      <table class="list-table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Match Name</th>
            <th>Shots</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for match in r.matches %}
          <tr>
            <td><a class="isotime" href="/reporting/match/{{match.match_id}}">{{match.match_end_time}}</a></td>
            <td><a href="/reporting/match/{{match.match_id}}">{{match.match_name}}</a></td>
            <td>{{match.number_shots}}</td>
            <td>{{match.score}}-{{match.xcount}}X</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <script type="text/javascript" src="/static/moment.min.js"></script>
    <script type="text/javascript" src="/static/isotime.js"></script>
  </body>
</html>
