<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>System Setup</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  </head>

  <body class="menu">
    <a class="button-link" href="/menu">Back to Menu</a>
    <a class="button-link" href="/targetbounds_entry/0">Calibration</a>
    {% if has_debug %}
    <a class="button-link" href="/debug/1">Debug</a>
    {% endif %}
    <form method="POST" action="/delete_stats_db">
      <input type="submit" value="Delete Stats" />
    </form>
    <form method="POST" action="/sys_exit">
      <input type="submit" value="Restart/Update" />
    </form>
  </body>
</html>
