<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
  </head>

  <body style="margin:0;padding:0">
    <div style="position:relative;margin:0;padding:0;">
      <div id="m" style="margin:0;padding:0;background: red; width: 5px; height: 5px; position: absolute; left: {{x-2}}px; top: {{y-2}}px;">
      </div>
      <img id="pic" class="big" src="/current_raw?cb={{cachebust}}" />
    </div>
    <div class="controls">
      <form method="POST" action="/targetbounds/{{index}}">
        <input id="coords" name="coords" type="hidden" value="{{x}},{{y}}" />
        <input type="submit" value="{{label}}" />
      </form>
    </div>

    <script type="text/javascript">
      window.onload = function() {
          marker = document.getElementById('m');
          img = document.getElementById('pic');
          coords = document.getElementById('coords');
          img.onclick = function(evt) {
              var x = evt.pageX;
              var y = evt.pageY;
              marker.style.left = (x-2) + 'px';
              marker.style.top = (y-2) + 'px';

              ratioX = x / img.scrollWidth;
              ratioY = y / img.scrollHeight;

              coords.value = ratioX + ',' + ratioY;
          }
      }
    </script>
  </body>
</html>
