<div>
  <div class="images">
      <img class="big current-target" src="/current_target?cb={{cachebust}}" />
      <img class="big target-shots" src="/shooter_target?cb={{cachebust}}" />
  </div>

  <div class="stats">
    <div class="match-live">
      <strong>Shooting {{'Practice' if practice_mode else 'Match'}}</strong>
    </div>
    <div class="shooter-name">{{shooter.name}}</div>

    {% if shots_captured == shooter.number_shots %}
    <div class="total-score"><strong>FINAL SCORE</strong> {{shooter.current_score()}}-{{shooter.current_xcount()}}X</div>
    {% else %}
    <div class="shot-number">Shot {{shots_captured}}/{{shooter.number_shots}}</div>
    <div class="projected-score">Projected Score {{'{:.0f}'.format(shooter.projected_score())}}-{{shooter.current_xcount()}}X</div>
    {% endif %}
  </div>

  <div class="recent-shots">
    <table>
      <thead>
        <th>Shot #</th>
        <th>Score</th>
      </thead>
      <tbody>
        {% for num, shot in recent_shots %}
        <tr class="shot">
          <td class="shot-num">{{num+1}}</td>
          <td class="shot-score">{{shot.score}}<span class="shot-x">{{'(X)' if shot.xring else ''}}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="controls">
    <a class="button-link" href="/menu">Menu</a>
    {% if changing_target %}
    <form method="POST" action="/end_change_target">
      <input type="submit" value="Done w/ Target" />
    </form>
    {% else %}
    <form method="POST" action="/start_change_target">
      <input type="submit" value="Ch. Target" />
    </form>
    {% endif %}

    {% if num_shooters > 1 %}
    <form method="POST" action="/next_shooter">
      <input type="submit" value="Ch. Shooter" />
    </form>
    {% endif %}

    <a class="button-link" href="/manual_entry">+ Shot</a>

    {% if shots_captured > 0 %}
    <form method="POST" action="/clear_last_shot">
      <input type="submit" value="- Shot" />
    </form>
    {% endif %}
    <a class="toggle-live-view button-link" href="javascript:togglelive()">Live</a>
  </div>
</div>
